# This workflow will build a .NET project then Generates a a test report
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net and https://github.com/marketplace/actions/publish-test-results

name: Build and test

on:
  workflow_dispatch:    
  push:
    branches: 
      - main
      - master
  pull_request:
    branches: 
      - main
      - master

permissions: write-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --logger "trx;LogFileName=test-results.trx"
    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: "**/test-results.trx"
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: |
          **/test-results.trx
